@import "bourbon/bourbon";
@import "neat/neat";
@import "fonts.css";

$color-text-dark: #111;
$color-text-light: #eee;
$color-text-dim: #ccc;
$color-btn: #2b2b2b;

$radius: 2px;

$mobile: new-breakpoint(max-width 500px);

body {
  font: 1em/1.6 'open_sanslight', arial, sans-serif;
  background: url('../images/body-bg.jpg');
  color: $color-text-dark;
  padding-top: 0.5em;
}

a {
  color: $color-text-dark;
  text-decoration: none;
   &:hover {
    text-decoration: underline;
  }
}

p {
  padding-right: 3em;
  @include media($mobile) {
    padding-right: 0;
  }
}

header {
  border-top: $color-text-dark 10px solid;
  @include media($mobile) {
    text-align: center;
  }
}

h2 {
  font-size: 0.875em;
  font-family: 'open_sanssemibold';
  text-transform: uppercase;
}

nav {
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.875em;

  @include media($mobile) {
    display: block;
    margin-bottom: 2em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  font-family: 'open_sanssemibold';
}


input, textarea {
  border-radius: $radius;
  border: 1px solid #ccc;
  padding: 0.5em;
  width: 100%;
}

footer {
  padding: 3em 0 1em 0;
  text-transform: uppercase;
  font-size: 0.75em;
  text-align: center;

  span {
    &:before {
      content: '|';
      padding: 0 0.75em;
      color: $color-text-dim;
      @include media($mobile) {
        display: none;
      }

    }
    @include media($mobile) {
      display: block;
    }
  }
}



.three-fourth-col {
  @include span-columns(9);
}

.site-title {
  font-family: 'lobster_tworegular', cursive;
  display: inline-block;
  font-size: 2.375em;
  font-weight: normal;
  margin: 0 1.5em 1rem 0;
  a:hover {
    text-decoration: none;
  }
  @include media($mobile) {
    margin-right: 0;
  }
}

.wrapper {
  @include outer-container;
  padding: 0 1rem;
}

.img-container {
  img {
    width: 100%;
  }
}

.content-container {
  @include outer-container;
}

.hero-container {
  @extend .img-container; 
  img {
    box-shadow: 0 0 8px #888;
    -moz-box-shadow: 0 0 8px #888;
    -webkit-box-shadow: 0 0 8px #888;
  }
}

.half-col {
  @include span-columns(6);

  @include media($mobile) {
    @include span-columns(12);
  }
}

/*** ABOUT ***/

.contact-message {
  height: 9em;
}

.contact-label {
  text-transform: uppercase;
  display: block;
  font-size: 0.875em;
}

%button {
  @include transition(background-color, 0.1s);
  background-color: $color-btn;
  color: $color-text-light;
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 0.75em 0;
  border-radius: $radius;
  &:hover {
    background-color: lighten($color-btn, 10%);
  }
}

.contact-submit {
  @extend %button;
  margin-top: 1em;
}

.ss-form-question {
  margin-bottom: 1em;
}

#navigation-table {
  width: 50%;
}

.thank-you-copy {
  font-size: 2em;
  margin-top: 1.3em;
}

/*** Gallery ***/

#galleria {
  height: 1500px;
}
.galleria-thumbnails .galleria-image {
  width: 201px;
  @include media($mobile) {
    width: 125px;
  }
}

.galleria-container {
  background-color: transparent;
}